<table style="width: 730px;">
      <tbody>
            <tr style="height: 43px;">
                  <td style="height: 26px; width: 106px;" rowspan="2">
                        <p>Koruyucu Cinsi</p>
                  </td>
                  <td style="height: 26px; width: 126px;" rowspan="2">
                        <p>Koruyucu Numarası</p>
                  </td>
                  <td style="height: 26px; width: 52.5625px;" rowspan="2">
                        <p>Koruyuculuk Değeri (Pb mm)</p>
                  </td>
                  <td style="height: 43px; width: 116.438px;" colspan="2">
                        <p>Fiziksel Kontrol Tarihi</p>
                  </td>
                  <td style="height: 43px; width: 93px;" colspan="2">
                        <p>Etkinlik Testi (Skopi Kontrolu) Kontrol Tarihi</p>
                  </td>
                  <td style="height: 26px; width: 192px;" rowspan="2">
                        <p>AÇIKLAMA</p>
                  </td>
            </tr>
            <tr style="height: 12px;">
                  <td style="height: 12px; width: 116.438px;" colspan="2">
                        <p style="text-align: center;">.. /../&hellip;.</p>
                  </td>
                  <td style="height: 12px; width: 93px;" colspan="2">
                        <p style="text-align: center;">.. / .. / &hellip;.</p>
                  </td>
            </tr>
            <tr style="height: 48px;">
                  <td style="height: 48px; width: 106px;">&nbsp;</td>
                  <td style="height: 48px; width: 126px;">&nbsp;</td>
                  <td style="height: 48px; width: 52.5625px;">&nbsp;</td>
                  <td style="height: 48px; width: 74.4375px;">
                        <p>UYGUN</p>
                  </td>
                  <td style="height: 48px; width: 42px;">
                        <p>UYGUN DEĞİL</p>
                  </td>
                  <td style="height: 48px; width: 48px;">
                        <p>UYGUN</p>
                  </td>
                  <td style="height: 48px; width: 45px;">
                        <p>UYGUN DEĞİL</p>
                  </td>
                  <td style="height: 48px; width: 192px;">&nbsp;</td>
            </tr>
            <tr style="height: 13px;">
                  <td style="width: 106px; height: 13px;">&nbsp;</td>
                  <td style="width: 126px; height: 13px;">&nbsp;</td>
                  <td style="width: 52.5625px; height: 13px;">&nbsp;</td>
                  <td style="width: 74.4375px; height: 13px;">&nbsp;</td>
                  <td style="width: 42px; height: 13px;">&nbsp;</td>
                  <td style="width: 48px; height: 13px;">&nbsp;</td>
                  <td style="width: 45px; height: 13px;">&nbsp;</td>
                  <td style="width: 192px; height: 13px;">&nbsp;</td>
            </tr>
            <tr style="height: 13px;">
                  <td style="width: 106px; height: 13px;">&nbsp;</td>
                  <td style="width: 126px; height: 13px;">&nbsp;</td>
                  <td style="width: 52.5625px; height: 13px;">&nbsp;</td>
                  <td style="width: 74.4375px; height: 13px;">&nbsp;</td>
                  <td style="width: 42px; height: 13px;">&nbsp;</td>
                  <td style="width: 48px; height: 13px;">&nbsp;</td>
                  <td style="width: 45px; height: 13px;">&nbsp;</td>
                  <td style="width: 192px; height: 13px;">&nbsp;</td>
            </tr>
            <tr style="height: 13px;">
                  <td style="width: 106px; height: 13px;">&nbsp;</td>
                  <td style="width: 126px; height: 13px;">&nbsp;</td>
                  <td style="width: 52.5625px; height: 13px;">&nbsp;</td>
                  <td style="width: 74.4375px; height: 13px;">&nbsp;</td>
                  <td style="width: 42px; height: 13px;">&nbsp;</td>
                  <td style="width: 48px; height: 13px;">&nbsp;</td>
                  <td style="width: 45px; height: 13px;">&nbsp;</td>
                  <td style="width: 192px; height: 13px;">&nbsp;</td>
            </tr>
      </tbody>
</table>
<p><strong>"Bu form, tek bir oturumda yapılan toplu sayımlar için kullanılır. Farklı günlerde yapılan
            kontroller için yeni form açılmalıdır."</strong></p>